/* Main */
.Screen {
    padding-bottom: 14vh;
    position: relative;
    width: 100%;
    z-index: 1;
}

.s1 {
    padding: 0;
    position: fixed;
    z-index: 2;
}
.s2 {
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
}


/* Footer */
.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.Footer__box_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}


/* Screen 2 */
.s1__box_left {
    display: flex;
    flex-direction: column;
    gap: 14vh;
}

.s1__box_text_main {
    display: flex;
    gap: 6%;
}

.s1__box_button {
    display: flex;
    gap: 2.2vw;
}

.s1__box_right {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-end;
}

.br__box p {text-align: right;}
.s1__box_right .line {width: 70%;}