/* Main */
.Screen {
    padding-bottom: 14vh;
    position: relative;
    width: 100%;
    z-index: 1;
    height: fit-content;
}

.s1 {
    padding: 0;
    position: fixed;
    z-index: 2;
    background-color: #fff;
}
.s2 {
    height: 100vh;
    padding: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}


/* Footer */
.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
}

.Footer__box_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}


/* Screen 2 */
.s1__box_left {
    display: flex;
    flex-direction: column;
    gap: 14vh;
}

.s1__box_text_main {
    display: flex;
    gap: 6%;
}

.s1__box_button {
    display: flex;
    gap: 2.2vw;
}

.s1__box_right {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-end;
}

.br__box p {text-align: right;}
.s1__box_right .line {width: 70%;}


/* Screen 4 */
.s3__box_container {
    max-width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.cont__box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc( var(--index) * 18.4 );
    width: calc( var(--index) * 15 );
    border-radius: calc( var(--index) * 0.4 );
    background: linear-gradient(135deg, #205D5E 0%, #25B385 100%);
    flex-shrink: 0;
    box-shadow: 8px 8px 22px 0px rgba(32, 93, 94, 0.10);
    transition-duration: 260ms;
}
.cont__box:hover {
    transform: translateY(-6px);
    box-shadow: 12px 12px 24px 0px rgba(32, 93, 94, 0.10);
}
.cont__box:hover .bb__text_price {
    color: rgba(255, 255, 255, 1);
}

.cb-2 {background: linear-gradient(135deg, #4CB3A0 0%, #9CE452 100%)}
.cb-3 {background: linear-gradient(135deg, #CCEFF1 0%, #25B385 100%)}

.cont__box__box {
    height: 94%;
    width: 92%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cb__box_plus {
    margin-top: calc( var(--index) * 0.6 );
    display: flex;
    flex-direction: column;
    gap: calc( var(--index) * 0.5 );
}

.cb__box_button {
    display: flex;
    gap: 4%;
    align-items: center;
}


/* Screen 5 */
.s6 .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.s5__box {padding-top: 6.6vh}

.s6__bac {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	z-index: -1;
    background-color: #000;
}