.logo {
    font-size: calc( var(--index) * 1.2 );
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: calc( var(--index) * -0.1 );
}

.Footer__link {
    font-family: 'Inter', sans-serif;
    font-size: calc( var(--index) * 0.6 );
    font-weight: 400;
    color: rgba(0, 0, 0, 0.60);
    text-decoration: none;
    transition-duration: 150ms;
}
.Footer__link:hover {color: rgba(0, 0, 0, 1);}

.Footer__auto_link {
    font-family: 'Inter', sans-serif;
    font-size: calc( var(--index) * 0.6 );
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.auto_link__up {
    color: #fff;
    padding: calc( var(--index) * 0.45 ) calc( var(--index) * 1.2 );
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
}